* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url("../images/space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.selected {
  font-size: 2.5rem !important;
  text-shadow: 1px 1px 6px whitesmoke !important;
  text-decoration: underline;
  transform: translateY(-10px);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 100%;
}

.header {
  /* border: solid 2px red; */
  flex: 1;
  font-size: 4rem;
}

.functions-title {
  /* border: solid 2px red; */
  flex: 3;
  display: flex;
  align-items: center;
  width: 800px;
}

.function-title {
  /* border: solid 2px red; */
  display: flex;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  font-size: 1.8rem;
}

.functions-container {
  /* border: solid 2px red; */
  flex: 10;
}

.functions-wrapper {
  /* border: solid 2px red; */
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.function {
  /* border: solid 2px red; */
  display: flex;
  justify-content: center;
  min-width: 100%;
  transition: .5s;
}

footer {
  /* border: solid 2px red;z */
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

@media (max-width: 900px) {

  .selected {
    font-size: 1.2rem !important;
    transform: translateY(-4px);
  }

  .app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 100%;
  }

  .header {
    font-size: 2.5rem;
  }

  .functions-title {
    width: 400px;
  }

  .function-title {
    font-size: .8rem;
  }
}

@media (max-width: 480px) {

  .functions-title {
    width: 300px;
  }
}