@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "RobotoMono";
  margin: 0;
}

.App {
  text-align: center;
  background-image: url("../images/space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
  background-size: cover;
}
