.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    font-size: 1.5rem;
}

@media (max-width: 980px) {
    .date {
        font-size: 1.2rem;
    }
}

@media (max-width: 420px) {
    .date {
        font-size: .8rem;
    }
}