.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    display: flex;
}

.sec,
.min,
.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colon {
    display: flex;
    align-items: center;
}


.arrow-buttons{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: solid 1px rgba(128, 128, 128, 0.432);
    border-radius: 5px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.hidden{
    visibility: hidden;
}

.countdown-buttons button {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: white;
    text-shadow: 0 0 1px black;
}