@font-face {
  font-family: "RobotoMono";
  src: url("../public/RobotoMono-Thin.ttf");
}

* {
  font-family: "RobotoMono";
  margin: 0;
}

.App {
  text-align: center;
  background-image: url("../public/space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: white;
  background-size: cover;
}

.icon {
  font-size: 5rem;
  padding: 30px;
}

.time,
.alarm,
.stopwatch,
.countdown {
  font-size: 7rem;
  text-shadow: 1px 1px 10px whitesmoke;
}

.countdown button {
  width: 100px;
}

.buttons button:hover {
  opacity: .8;
}

.start {
  background-color: rgb(128, 206, 11);
}

.stop {
  background-color: rgb(187, 36, 36);
}

.resume {
  background-color: rgb(128, 206, 11);
}

.reset,
.set {
  background-color: rgb(56, 179, 228);
}